<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 		<style>
 			body {
			 margin: 0;
			 background-image: url(../img/back.jpg);
			 background-repeat: no-repeat;
			 background-position:center center fixed;
		        -webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
			 display: compact;
			 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			
			#white h1 {
			   color: white;
			}
			#white legend{
				color: white;
			}
			#white p{
				color: white;
			}
			#sections  div{
			    margin-top:10px;
			    padding: 20px;
			    outline: 2px solid #ccc;
			    outline-offset: -10px;
			    -moz-outline-radius: 10px;
			    -webkit-outline-radius: 10px;
			 }
		</style>

	</head>
		<div class = "container">
			<body id="white">
				<h1 class='text-info' align="center" color="white">CraigsList 2.0</h1>
				<legend class='text-info' color="white">Home</legend>
				<div class="container">
				  <div class="row">
				    <div class="col-sm-4">





						
						<div class="btn-group">
						  <div class="btn-group">
						    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						      Type <span class="caret"></span></button>
						    <ul class="dropdown-menu" role="menu">
						      <li><a href="#">For Sale</a></li>
						      <li><a href="#">Jobs</a></li>
						      <li><a href="#">Services</a></li>
						      <li><a href="#">Community</a></li>
						      <li><a href="#">Discussion Forums</a></li>
						       <li><a href="#">Gigs</a></li>
						      <li><a href="#">Housing</a></li>
						      <li><a href="#">Personals</a></li>
						      <li><a href="#">Resumes</a></li>
						    </ul>
						  </div>
						</div>
					
						  <div class="btn-group">
						    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						      Categoies <span class="caret"></span></button>
						    <ul class="dropdown-menu" role="menu">
						    	 <li><a href="#">General</a></li>
						      <li><a href="#">Antiques</a></li>
						      <li><a href="#">Appliances</a></li>
						      <li><a href="#">Arts+Crafts</a></li>
						      <li><a href="#">ATV/UTV/SNO</a></li>
						      <li><a href="#">Bikes</a></li>
						      <li><a href="#">Business</a></li>
						      <li><a href="#">Cell Phones</a></li>
						      <li><a href="#">Computers</a></li>
						      <li><a href="#">Electronics</a></li>
						      <li><a href="#">Free</a></li>
						      <li><a href="#">Jewelry</a></li>
						      <li><a href="#">Tickets</a></li>
						      <li><a href="#">Tools</a></li>
						      <li><a href="#">Toys+Games</a></li>
						      <li><a href="#">Video Gaming</a></li>
						      <li><a href="#">Wanted</a></li>
						    </ul>
						  </div>
						</div>
				    <div class="col-sm-4">
				    <body id=sections>
						<div class="container" align="right">
						  <div class="row">
						    <div class="col-md-4">
						      <h2>Recently Searched</h2><br><br>
						      <div class= "panel panel-default">
						  		<div class= "panel-body">  Below is a list of all your recently searched items.
						  		</div>
						  		<table class="table">
						  			<tr>
						  				<td> Basket Bicycle <br>  <img src = "https://upload.wikimedia.org/wikipedia/commons/6/6e/Long_john_bicycle.jpg" height ="100" width="100"> </img></td>
						  				<td> longest bicycle <br> <img src = "http://i.dailymail.co.uk/i/pix/2013/04/09/article-2306245-1930C930000005DC-203_634x426.jpg" height="100" width="100"> </img></td>

						  			</tr>

						  				<td> blue long bicycle <br>  <img src = "http://www.irenesinternet.com/wp-content/uploads/2011/12/StretchedBike2.jpg" height ="100" width="100"> </img></td>
						  				<td> mini bicycle <br> <img src = "http://www.aboutfacesentertainers.com/images/clowns/mayhem/may_g_little_bike.jpg" height="100" width="100"> </img></td>
						  			</tr>

						  		</table>
						  	</div>
						  </div>







						    <div class="col-md-4">
						      <h2>Watchlist</h2><br><br>
						       <div class= "panel panel-default">
						  		<div class= "panel-body">  Below is a list of all the items on your watchlist
						  		</div>
						  		<table class="table">
						  			<tr>
						  				<td> Bicycle <br>  <img src = "https://upload.wikimedia.org/wikipedia/commons/4/41/Left_side_of_Flying_Pigeon.jpg" height ="100" width="100"> </img></td>
						  				<td> unicycle2000 <br> <img src = "https://lh3.googleusercontent.com/-SPq5PoPGBPI/UQ_s1i3yFNI/AAAAAAACBWU/QK1Fhj20zNA/w506-h356/Homemade%2BPowered%2BUnicycle.png" height="100" width="100"> </img></td>

						  			</tr>

						  				<td> unicycle <br>  <img src = "http://www.dube.com/blog/wp-content/uploads/2012/05/unicycling-DUI-in-Burbank.jpg" height ="100" width="100"> </img></td>
						  				<td> long bicycle <br> <img src = "http://www.atomiczombie.com/plans/voyageur/Voyageur%20Long%20Wheelbase%20Recumbent%20Bike%205.jpg" height="100" width="100"> </img></td>
						  			</tr>

						  		</table>
						  	</div>
					</body>




						  </div>
						 </div>
						</div>



					   </div>

					  	
				      </div>
			         </div>
			        </div>
			       </div>
				  </div>
				 </div>
</html>